div {
    height: 7em;
    background-color: #CFD2CF;
}
.ytlogo {
    
    margin: 0;
    padding-right: 0;
    margin-left: -20px;
    padding-top: 7px;
}
p {
    position: absolute;
    font-size: 35px;
    padding-left: 153px;
    padding-bottom: 200px;
    margin-top: -77px;
    font-family:  'Reem Kufi Fun '

    
    
    
}